/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/scss/bootstrap.scss";

$primary: rgba(255, 150 ,150 , 0.2);
$default-padding: 10px;


//GBRRR
.main-body {
  background-color: $primary;
  padding: $default-padding;

  .left-bar {
    background-color: blue;
  }

  > .main-content{
    font-size: 15px;
    > .main-title {
      font-weight: bold;
    }

  }
}

.p-default{
  padding: $default-padding !important;
}

.bg-primary {
  background-color: $primary;
}

.ng-invalid{
  border-color: red !important;
}
